/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

$blue: #2e2ead;
$yellow: #ffd800;

* {
	box-sizing: border-box;
}

body, html {
	font-family: 'Roboto', sans-serif;
	background: #f5f3f3;
	font-size: 14px;
}

a {
	text-decoration: none;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	background: $blue;
	padding: 12px 20px;
}

.wrapper {
	padding: 20px;
	&Flex {
		display: flex;
		justify-content: space-between;
	}
}

