<aside class="asideFilters">
  <div class="asideFilters__title">
    Filtros
  </div>
  <div class="accordion">
    <!-- Filter hotel name -->
    <div class="accordion__panel">
      <div class="accordion__panel--header">
        <span class="icon__search"></span>
        <p>Nombre del hotel</p>
        <span class="icon__arrow--up arrow"></span>
      </div>
      <div class="accordion__panel--body">
        <form (ngSubmit)="searchHotels()">
          <input type="text" placeholder="Ingrese el nombre del hotel" name="queryName" [(ngModel)]="queryName">
          <button type="submit">Aceptar</button>
        </form>
      </div>
    </div>
    <!-- Filter hotel start -->
    <div class="accordion__panel">
      <div class="accordion__panel--header">
        <span class="icon__star"></span>
        <p>Estrellas</p>
        <span class="icon__arrow--up arrow"></span>
      </div>
      <div class="accordion__panel--body">
        <ul class="filterStars">
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              Todas las estrellas
            </div>
          </li>
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
            </div>
          </li>
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
            </div>
          </li>
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
            </div>
          </li>
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              <span class="icon__star"></span>
              <span class="icon__star"></span>
            </div>
          </li>
          <li>
            <input type="checkbox" name="star" value="Bike">
            <div>
              <span class="icon__star"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>