<ul class="gridList">
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos Hotel Stefanos Hotel Stefanos Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
  <li class="gridList__item">
    <div class="gridList__item--image">
      <img src="http://localhost:3000/images/hotels/2a5bb415_b.jpg" alt="">
    </div>
    <div class="gridList__item--info">
      <h3>Hotel Stefanos</h3>
      <div class="stars">
        <span class="icon__star"></span>
        <span class="icon__star"></span>
        <span class="icon__star"></span>
      </div>
      <div class="amenities">
        <span class="icon__bathrobes"></span>
        <span class="icon__beach"></span>
        <span class="icon__children--club"></span>
      </div>
    </div>
    <div class="gridList__item--price">
      <p>Precio por noche por habitación</p>
      <div class="price">
        <span>ARS</span>
        863
      </div>
      <a href="#">Ver hotel</a>
    </div>
  </li>
</ul>